<?php

declare(strict_types=1);

return [
    'connections' => [
        'default' => [
            // SQLite sample configuration
            'driver' => 'sqlite',
            'database' => __DIR__ . '/../data/heartphrame.sqlite',
            // MySQL sample configuration
//            'driver' => 'mysql',
//            'host' => 'localhost',
//            'port' => 3306,
//            'database' => '',
//            'username' => '',
//            'password' => '',
//            'charset' => 'utf8mb4',
//            'options' => [],
        ]
    ],
];
