<?php

declare(strict_types=1);

return [
    'salt' => 'abc123',

    'log_level' => \Psr\Log\LogLevel::INFO,

    // Environment (development, production)
    'environment' => 'production',

    'debug' => false,

    // Use the command `vendor/bin/hph encryption:generate-key` to generate
    // a random new key.
    'encryption_key' => 'abc123',

    // Trusted proxies' configuration. Used by the TrustedProxyMiddleware to
    // correctly set the scheme, host and port on the request URI.
    'trusted_proxies' => [
        '127.0.0.1', // Common for local development setups
        // Add any other trusted proxy IPs here
    ],
];
